{% extends 'collect/base.html' %} 

{% block dashboard-active %}active{% endblock %}

{% block content %}
<h2>Collection jobs</h2>

{% if collections %}
<div class="table-responsive">
  <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Keywords</th>
          <th>User IDs</th>          
          <th>Locations</th>
          <th>Active</th>
          <th>Tweets</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
            {% for collection in collections %}
          <tr>
            <td>{{collection.name}}</td>
            <td>{{collection.track}}</td>            
            <td>{{collection.follow}}</td>
            <td>{{collection.locations}}</td>
            <td>{{collection.is_running}}</td>
            <td><a href="{% url 'tweets' collection_id=collection.pk %}">{{collection.num_tweets}}</a></td>
            <td>
                {% if not collection.is_running %}<a href="{% url 'start collection' collection_id=collection.pk %}" class="btn btn-success btn-xs ts-loading" data-loading-text="Starting">Start</a>
                <a href="{% url 'edit collection' collection_id=collection.pk %}" class="btn btn-info btn-xs">Edit</a> 
                <a href="{% url 'delete collection' collection_id=collection.pk %}" class="btn btn-danger btn-xs">Delete</a>
                {% else %}
                <a href="{% url 'stop collection' collection_id=collection.pk %}" class="btn btn-warning btn-xs ts-loading" data-loading-text="Stopping">Stop</a> 
                {% endif %}
                <div class="btn-group">
                  <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                    Download <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'download json' collection_id=collection.pk %}">JSON</a></li>
                    <li><a href="{% url 'download csv' collection_id=collection.pk %}">CSV</a></li>
                  </ul>
                </div>                
            </td>
          </tr>  
            {% endfor %}
      </tbody>
    </table>
</div>
{% else %}
<p>You don't have any collections yet. Go ahead and start one!</p>
{% endif %}
<a href="{% url 'new collection' %}" class="btn btn-success">New collection</a>
{% endblock %}