{% extends 'collect/base.html' %} 

{% block content %}

  <div class="row" style="margin-bottom:30px; margin-top:30px;">
    <div class="col-sm-6 text-center">
    <img src="{{STATIC_URL}}img/tweetset.png" class="img-responsive" alt="TweetSet">
    <h1 class="text-center" style="padding-bottom:10px;">Build your dataset of Tweets!</h1>
    <p class="lead text-center">TweetSet is a web application that was created to simplify collecting Tweets into corpora and datasets. You can collect Tweets based on keywords, user ids, and geographic locations. You can then download your corpora in several different formats that you can use in your research or work.</p>
    {% if user.is_authenticated %}<a href="{% url 'dashboard' %}" class="btn btn-lg btn-success">Go to dashboard</a>{% else %}<a href="{% url 'login' %}" class="btn btn-lg btn-success">Log in or sign up</a>{% endif %}
    <p style="margin-top:20px;padding-bottom:10px;">TweetSet was made by <a href="http://janez.me">Janez Kranjc</a></p>
    <script data-gratipay-username="janezkranjc"
        src="//grtp.co/v1.js"></script>
    </div>
    <div class="col-sm-4 col-sm-offset-1" style="padding-top:20px;">
    <img src="{{STATIC_URL}}img/diagram.png" class="img-responsive" alt="TweetSet">
    </div>
  </div>
{% endblock %}