*.py[cod]

# DB
tweetset/tweetset/tweetset.db

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

/public/static
/public/media

*.db

*.map

celerybeat-schedule

node_modules
bower_components

tweetset/tweetset/settings/passwords.py