{% extends "collect/base.html" %}
{% load widget_tweaks %}
{% block title %}Login required{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}

<div class="login">
  <h3 class="h3login">Login required.</h3>
    <h3 class="h3login">Please Log In, or Sign Up</h3>
     <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <a class="btn btn-lg btn-success btn-block fbloginbutton" data-loading-text="Please wait..." href="{% url "social:begin" backend='twitter' %}"><i class="fa fa-twitter"></i> Log in with Twitter</a>
        </div>
      </div>

    </div>

{% endblock %}