{% extends "collect/base.html" %}
{% block profile-active %}active{%endblock%}
{% block title %}Password change{% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li><a href="{% url 'my account' %}">My account</a></li>
  <li class="active">Change your password</li>
</ol>

<h1>Change your password</h1>
<p>Here you can change your password.</p>
<form method="post" action="{% url 'password change' %}">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    {% csrf_token %}
    {% include "collect/include/form_field.html" with field=form.old_password %}
    {% include "collect/include/form_field.html" with field=form.new_password1 %}
    {% include "collect/include/form_field.html" with field=form.new_password2 %}
</div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <button type="submit" data-loading-text="Please wait..." class="btn btn btn-primary rw-loading">
          Change your password
        </button>
    </div>
</div>
</form>
{% endblock %}
